@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #000000;
    --secondary-color: #eee;
    --white-color: #fff;
    --grey-color: #555;
    --light-grey-color: #777;
}


/* SLIDE 1 */



#main {
  height: 100vh;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
}

.container {
    width: 100%;
    background-image: url(images/Slide1/Vectorized\ Empty\ Background.svg);
    background-color: var(--primary-color);
    margin: 1rem;
    box-shadow: 0 1rem 1rem var(--grey-color);
}
.container2 {
    background-color: var(--secondary-color);
    margin: 0;
    overflow: hidden;
}
.container3 {
    background-color: var(--secondary-color);
    margin: 0;
    overflow: hidden;
}

.overlay{
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}

.header {
    width: 100%;
    height: 1080px;
    /* height: calc(100vh - 7rem); */
    background: url(images/Slide1/Vectorized\ Empty\ Background.svg) center no-repeat;
    background-size: cover;
    position: relative;
    perspective: 100rem;
}

.header-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-shadow: 0.3rem .5rem var(--grey-color);
}

.heading {
    font-size: 8rem;
    color: var(--white-color);
}

.header-paragraph {
    font-size: 2rem;
    font-weight: 500;
    color: var(--secondary-color);
    max-width: 70rem;
    margin: auto;
}

.logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.logo h1 {
    display: flex;
}

.logo h1 span {
    font-size: 2rem;
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: var(--white-color);
    width: 3.5rem;
    height: 3.5rem;
    margin: .5rem;
    border-radius: 50%;
}

.logo h1 span:nth-child(1) {
    animation: drop-letters 5s .1s infinite;
}

.logo h1 span:nth-child(2) {
    animation: drop-letters 5s .2s infinite;
}

.logo h1 span:nth-child(3) {
    animation: drop-letters 5s .3s infinite;
}

@keyframes drop-letters {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-100%);
    }
    20% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.header-image {
width: 20%;
animation: image-float 150s infinite;
}

.hoodie-image {
    position: absolute;
    top: 5%;
    right: 27%;
    width: 20%;
    animation: 3s ease 2s 1 normal backwards running fadeIn, 6.5s 1s infinite floatAnimation2;
}

.pants-image {
    position: absolute;
    top: 39%;
    right: 7%;
    width: 20%;
    animation: 3s ease 1.5s 1 normal backwards running fadeIn, 10s 1s infinite floatAnimation3;
}

.shorts-image {
    position: absolute;
    top: 55%;
    right: 50%;
    width: 17%;
    animation: 3s ease 1s 1 normal backwards running fadeIn, 10s 1s infinite floatAnimation4;
}

.sweatshirt-image {
    width: 20%;
    position: absolute;
    top: 38%;
    right: 24%;
    animation: 3s ease .5s 1 normal backwards running fadeIn, 5s 1s infinite floatAnimation4;
}

.sweatshirt-back-image {
    width: 20%;
    position: absolute;
    top: 5%;
    right: 8%;
    animation: 3s ease 0s 1 normal backwards running fadeIn, 7.5s 1s infinite floatAnimation4;
}

@keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2em);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1em);
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes floatAnimation3 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3em);
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes floatAnimation4 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2em);
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes floatAnimation5 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1em);
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes floatAnimation6 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1em);
    }
    100% {
      transform: translateY(0);
    }
}

.create-text {
    animation: 3s ease 1s 1 normal backwards running fadeIn;
    position: absolute;
    width: 50%;
    top: 10%;
    left: 5%;
}

.your-text {
    animation: 3s ease 2s 1 normal backwards running fadeIn;
    position: absolute;
    width: 25%;
    top: 27%;
    left: 3%;
}

.future-text {
    animation: 3s ease 3s 1 normal backwards running fadeIn;
    position: absolute;
    width: 32%;
    top: 27.33%;
    left: 25%;
}

.subtext-text {
    animation: 3s ease 4s 1 normal backwards running fadeIn;
    position: absolute;
    width: 45%;
    top: 45%;
    left: 8%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: .5; }
    100% { opacity: 1;}
  }
/* END OF  SLIDE 1 *\





/* SLIDE 2 */







.invest-text {
  position: absolute;
  width: 75%;
  top: 10%;
  left: 5%;
}

.in-text {
  position: absolute;
  width: 20%;
  top: 40%;
  left: 5%;
}

.yourself-text {
  position: absolute;
  width: 65%;
  top: 65%;
  left: 5%;
}

.subtext2-text {
  animation: 3s ease 4s 1 normal backwards running fadeIn;
  position: absolute;
  width: 45%;
  top: 45%;
  left: 8%;
}

.shooter {
  position: absolute;
  top: 45%;
  right: 12%;
  width: 17%;
  animation: 3s ease 1s 1 normal backwards running fadeIn, 10s 1s infinite floatAnimation4;
}


.pulse-ball {
  width: 7%;
  position: absolute;
  bottom: 42%;
  right: 17%;
  cursor: pointer;
  animation: 3s ease 1s 1 normal backwards running fadeIn, 10s 1s infinite floatAnimation4;
}

.pulse-ball:hover {
  animation: pulse .5s; /* Animate for 1.5 seconds on hover */
}


.wave {
  width: 60%;
  position: absolute;
  bottom: 0;
  left: 0px;
  overflow: hidden;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.5);
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
  }
    100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}

.hidden img {
  transform: translateX(100%);
  filter: blur(5px);
  transition: all 4s;
  opacity: 0;
  z-index: 1000;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show img {
  transform: translateX(0);
  filter: blur(0);
  opacity: 1;
  z-index: 1000;
  position: fixed;
}

#invest {
  animation: move 5s forwards;
  animation-delay: 5s;
  width: 75%;
  top: 10%;
  left: 5%;
}

#in {
  animation: move 5s forwards;
  animation-delay: 6s;
  width: 20%;
  top: 40%;
  left: 5%;
}

#yourself {
  animation: move 5s forwards;
  animation-delay: 7s;
  width: 65%;
  top: 65%;
  left: 5%;
}

@keyframes move
{
    from {
        right: 0;
    }
    to {
        right: 50%;
    }
}

a.slide {
  text-decoration: none;
  padding-right: 20px;
  right: 0;
  position: absolute;
  display: block;
}

a.slide img {
  transition: all 1s ease-in-out; 
  transition-duration: 1s;
  }

/* END OF SLIDE 2 */





/* SLIDE 3 */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #ADADC3;
	font-family: "Roboto", sans-serif;
	display: flex;
	height: 100vh;
}

.hero-container {
	margin: auto;
	display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
	width: 270px;
	height: 540px;
	position: relative;
	margin: 0 40px;
}

.poster-container {
	width: 300px;
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 9999;
}

.poster {
	width: 100%;
	box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.ticket-container {
	background: #fff;
	width: 340px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	position: absolute;
	top: 20px;
	box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
	opacity: 0;
}

.main-container:hover .ticket-container {
	opacity: 1;
	animation: bounceIn 0.6s linear;
}

@keyframes bounceIn {
	0%,
	20%,
	40%,
	60%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	20% {
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.01, 1.01, 1.01);
		transform: scale3d(1.01, 1.01, 1.01);
	}
	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97);
	}
	to {
		opacity: 1;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}

/* @keyframes bounce {
  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
} */

.ticket__content {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}

.ticket__movie-title {
	text-transform: uppercase;
	margin-bottom: 5px;
  font-size: 3.5rem;
}

.ticket__movie-slogan {
	color: #999;
	font-size: 2rem;
	margin-bottom: 20px;
}

.ticket__current-price {
	color: #69c982;
	font-size: 1.4rem;
	font-weight: bold;
}

.ticket__old-price {
	color: #999;
	text-decoration: line-through;
	margin-bottom: 10px;
}

.ticket__buy-btn {
	cursor: pointer;
	width: 100%;
	background: #2f2f2f;
	color: white;
	padding: 15px 0;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	border: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


/* NAVIGATION */


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #353746;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover{
  text-decoration: none;
  color: #ffeba7;
}
.nav ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}



.logo {
	position: absolute;
	top: 60px;
	left: 50px;
	display: block;
	z-index: 11;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}



@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    right: 55px;
  }
  .logo {
    left: 30px;
  }
  .nav{
    right: 30px;
  }
  
  .nav ul li a{
    font-size: 8vh;
  }
}

/* END NAVIGATION *\


